[build]
  command = "npm install"
  publish = "."

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200

[[redirects]]
  from = "/.netlify/functions/*"
  to = "https://api.netlify.com/.netlify/functions/:splat"
  status = 200